{{!-- eksisozluk/api ---}}

<section class="dashboard">

  <div class="left">
    <img class="photo" src="{{ photo }}" alt="{{ displayName }}" />
  </div>
  <div class="right">
    <h1 class="name" data-id="{{ id }}">{{ displayName }}</h1>

    <div class="details">
        <p>Username: <span>{{ username }}</span></p>
        <p>Email: <span>{{ email }}</span></p>
        <p>Access Token: <span>{{ accessToken }}</span></p>
    </div>
  </div>

</section>
